
.content>h1{
    font-weight: 400;
    margin-top: 1.5em;
    padding-left: 10px;
    border-left: 5px solid rgb(254,115,22);
}
hr{
    height: 2px;
    margin-top: 5px;
    margin-bottom: 2em;
    border: none;
    border-top: 2px dashed #ccc;
}

.content>p{
    text-indent: 2em;
    padding: 10px 2em;
}

.content>p a{
    color: #333;
}

.content>p a:hover{
    text-decoration: underline;
}

.btn{
    display: inline-block;
    padding: 5px 10px;
    line-height: 2em;
    border-radius: 5px;
    background-color: rgb(254,115,22);
}
