.focus,.focus img{
    min-width: 1100px;
}

.content{
    min-width: 1100px;
}

.content h1.title{
    padding-top: 1em;
    padding-bottom: .3em;
    font-size: 2.5em;
    font-weight: bold;
}

.content small.subTitle{
    display: block;
    font-size: 1.2em;
    margin-bottom: 1em;
}

.content p{
    padding: .3em 0;
}

.content div.box{
    padding-top: 2em;
    margin-bottom: 1px;
}

.content div.box>img{
    display: block;
    margin: 0 auto;
}

.btn-group{
    display: block;
    margin: 0 auto;
    padding: 2em 0px;
}

.btn-group>a.btn{
    position: relative;
    left: 7.5em;
    margin: 0 2em;
    display: inline-block;
    text-align: center;
    width: 150px;
    height: 50px;
    line-height: 50px;
    background-color: rgb(193,194,195);
    border-radius: 2px;
}

.btn-group>a.btn:hover{
    background-color: rgb(100, 100, 100);
}

.btn-group ul{
    position: absolute;
    margin-top: -152px;
    display:none;
}

.btn-group ul li{
    margin-bottom: 1px;
}

.btn-group ul li  button{
    display: block;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 1em;
    border-radius: 2px;
    background-color: rgb(193,194,195);
    border:none;
    color: #fff;
    cursor: pointer;
}

.btn-group ul li button:hover{
    background-color: rgb(100, 100, 100);
}

#register:hover ul{
    display: block;
}


/*大事记*/
.bigEvent{
    width: 1100px;
    padding-left: 46px;
    padding-right: 36px;
    padding-bottom: 5em;
}

.bigEvent li {
    position: relative;
    background-color: #fff;
    height: 390px;
    width: 200px;
    list-style: none;
    display: inline-block;
}

.bigEvent li>img{
    z-index: 2;
    position: relative;
}


/*大事记文字部分*/
.bigEvent>li>div{
    position: absolute;
    width: 200px;
    height: 166px;
    bottom: 0;
    left: 0;
    z-index: 1;
}

/*三角符号*/
.bigEvent>li>div>span{
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    margin-left: -10px;
    top: -200px;
    border-bottom: 10px solid transparent;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}


/*大事记序号*/
.bigEvent>li>div>p.index{
    margin-top: 1em;
}

.bigEvent>li>div>p.index>span{
    font-size: 1.3em;
}
.bigEvent>li:hover>div>p.index>span{
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}

/*大事记详情*/
.bigEvent .bigEvent-detail {
    padding: 0;
    font-size: 14px;
    line-height: 1em;
    height: 2em;
    text-indent: 1.2em;
    width: 150px;
    margin: 0 auto;
    overflow: hidden;
}

.bigEvent>li:hover .bigEvent-detail{
    height: 130px;
}

.bigEvent>li:hover>div{
    color: #fff;
    height: 240px;
    background-color: rgb(254,115,22);
    z-index: 3;
}

.bigEvent>li:hover>div>span{
    border-bottom: 10px solid rgb(254,115,22);
    top: -10px;
}

/*大事件底部*/
.bigEvent-foot{
    line-height: 3em;
}

.bigEvent>li:hover .bigEvent-foot{
    display: none;
}

/*大事件链接*/
.bigEvent-link{
    line-height: 2em;
    font-size: 1.5em;
    display: none;
}

.bigEvent>li:hover .bigEvent-link{
    display: block;
}

.bigEvent>li:hover .bigEvent-link>a>span{
    color: #fff;
    font-size: 1.2em;
}


/*合作客户*/
.heZuo{
    padding-top: 1.5em;
    padding-bottom: 5em;
}

.heZuo>table{
    width: 90%;
    border-collapse:collapse;
    margin: 0 auto;
    text-align: center;
}


.heZuo>table a{
    display: block;
    padding: 5px 10px;
}

.heZuo>table,.heZuo th,.heZuo td{
    border: 1px solid rgb(162,163,163);
}

/*公司动态*/
.bg-triangle{
    background: url("../img/triangle.png") no-repeat bottom center;
}

.company{
    height: auto;
    padding-top: 5em;
    padding-bottom: 8em;
    width: 90%;
    margin: 0 auto;
}

.company>div{
    display: inline-block;
    width: 460px;
    height: 280px;
    box-sizing: border-box;
}

p.company-title{
    font-family: "sans-serif";
    padding-bottom: 8px;
    border-bottom: 2px solid #ccc;
}

p.company-title>span{
    font-weight: bolder;
    font-size: 1.2em;
    padding-bottom: 7px;
    border-bottom: 4px solid rgb(254,115,22);
}

p.company-title>small{
    color: #ccc;
    padding-left: 1em;
}


.company-left{
    margin-right: 40px;
}

.company-left-content,.company-right-content{
    width: 100%;
    padding: 1em 0;
}

.company-left-content>img{
    /*vertical-align: middle;*/
    width: 110px;
    height: 80px;
}
.company-left-content>div{
    width: 310px;
    margin-left: -4px;
    color: #fff;
    background-color: rgb(254,115,22);
    height: 70px;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

.company-left-content p.small{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
}

.company-left-content>ul{
    /*padding-top: 1.5em;*/
    /*padding-left: 1em;*/
}

.company-left-content>ul>li{
    width: 100%;
    color: #999;
    overflow: visible;
}

.company-left-content>ul>li p,.company-right-content>ul>li>h3,.company-right-content>ul>li>p{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.company-right-content>ul>li{
    list-style: none;
    padding-bottom: 32px;
    height: 50px;
}

.company-right-content>ul>li>div{
    color: #fff;
    width: 45px;
    height: 45px;
    border-radius: 45px;
    margin-right: 20px;
    z-index: 1;
    position: relative;
}

.company-right-content p{
    color: #999;
}

.list>span{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    font-size: 25px;
    z-index: 1;
}

.list-01{
    background-color: rgb(126,156,215);
}

.list-01:after{
    content: '';
    width: 0;
    height: 0;
    border-bottom: 22px solid rgb(126,156,215);
    border-right: 22px solid transparent;
    /*border-left: 0px solid transparent;*/
    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: 0;
}

.list-02{
    background-color: rgb(165,195,109);
}


.list-02:after{
    content: '';
    width: 0;
    height: 0;
    border-bottom: 22px solid rgb(165,195,109);
    border-right: 22px solid transparent;
    /*border-left: 0px solid transparent;*/
    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: 0;
}

.list-03{
    background-color: rgb(239,184,117);
}


.list-03:after{
    content: '';
    width: 0;
    height: 0;
    border-bottom: 22px solid rgb(239,184,117);
    border-right: 22px solid transparent;
    /*border-left: 0px solid transparent;*/
    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: 0;
}

/*.fixed{*/
    /*position: fixed;*/
    /*z-index: 999999999999;*/
    /*right:10px;*/
    /*top:50%;*/
/*}*/
